- fields_for Attachment.new do |attachment|
  %label{ :for => "attachment_data" }
    Attach Files:
	= attachment.file_field :data
%ul#pending_files
  - if @record.attachments.size > 0
    = render :partial => "attachments/attachment", :collection => @record.attachments
:javascript
  <!--mce:0-->
