	<div id="colB">
		<div class="boxedC">
			<h2>Talleres</h2>
			<ul>
				<li><%= link_to Article::Section::ESTIMULACION_MEMORIA, article_path(Article::Section::ESTIMULACION_MEMORIA, :menu => 'groups') %></li>
                                <li><%= link_to Article::Section::GRUPOS_TERAPEUTICOS, article_path(Article::Section::GRUPOS_TERAPEUTICOS, :menu => 'groups') %></li>
                                <li><%= link_to Article::Section::TALLERES_YOGA, article_path(Article::Section::TALLERES_YOGA, :menu => 'groups') %></li>                                
                                <li><%= link_to 'Galeria', group_pictures_path(:menu => 'groups') %></li>                                
			</ul>
    </div>
  </div>


