	<div id="colB">
		<div class="boxedB">
			<h2>Talleres</h2>
			<ul>
				<li><%= link_to Article::Section::ESTIMULACION_MEMORIA, article_path(Article::Section::ESTIMULACION_MEMORIA) %></li>
                                <li><%= link_to Article::Section::GRUPOS_TERAPEUTICOS, article_path(Article::Section::GRUPOS_TERAPEUTICOS) %></li>
                                <li><%= link_to Article::Section::TALLERES_YOGA, article_path(Article::Section::TALLERES_YOGA) %></li>                                
			</ul>
    </div>
  </div>


