%tr
  %td{ :width => '80%' }
    %h2
      = reference_material.title
    %br
    = reference_material.description
  %td{ :width => '20%' }
    = link_to 'Descargar', reference_material_path(reference_material)
