	<div id="colB">
		<div class="boxedB">
			<h2>Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Maecenas luctus lectus</a></li>
				<li><a href="#">Etiam rhoncus volutpat</a></li>
				<li><a href="#">Donec dictum metus in</a></li>
				<li><a href="#">Integer gravida nibh</a></li>
				<li><a href="#">Etiam posuere augue sit</a></li>
				<li><a href="#">Mauris vulputate dolor</a></li>
				<li><a href="#">Nulla luctus eleifend</a></li>
				<li><a href="#">Praesent scelerisque</a></li>
				<li><a href="#">Ut nonummy rutrum sem</a></li>
                                <li><%= link_to 'Artículos relacionados', { :controller => 'home', :action => 'public_reference_materials' } %></li>
			</ul>
    </div>
  </div>
