	<div id="colB">
		<div class="boxedB">
			<h2>Inicio</h2>
			<ul>
				<li><a href="#">Psicología Clínica y Psicoterapia</a></li>
				<li><a href="#">Talleres de Memoria</a></li>
				<li><a href="#">Estimulación Cognitiva en Demencias</a></li>
				<li><a href="#">Bladas</a></li>
				<li><a href="#">Etiam posuere augue sit</a></li>
                                <li><%= link_to 'Artículos relacionados', { :controller => 'home', :action => 'public_reference_materials' } %></li>
			</ul>
    </div>
  </div>
