	<div id="colA">
		<div id="welcome" class="boxedA">
			<h2>Welcome to Enter!</h2>
			<img src="images/img10.jpg" alt="" width="130" height="150" style="float: right; margin: 1.5em 0 0 1.5em;" />
			<p><strong>Enter</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photos are from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. Enjoy :)</p>
		</div>
		<div id="news" class="boxedA">
			<h2>Recent News &amp; Updates</h2>
			<ul>
				<li>
					<h3>26th February 2007</h3>
					<p>Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est.</p>
					<p class="more"><a href="#">Read More</a></p>
				</li>
				<li>
					<h3>19th February 2007</h3>
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi amet. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id elementum congue.</p>
					<p class="more"><a href="#">Read More</a></p>
				</li>
			</ul>
		</div>
	</div>
	<div id="colB">
		<div class="boxedB">
			<h2>Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Maecenas luctus lectus</a></li>
				<li><a href="#">Etiam rhoncus volutpat</a></li>
				<li><a href="#">Donec dictum metus in</a></li>
				<li><a href="#">Integer gravida nibh</a></li>
				<li><a href="#">Etiam posuere augue sit</a></li>
				<li><a href="#">Mauris vulputate dolor</a></li>
				<li><a href="#">Nulla luctus eleifend</a></li>
				<li><a href="#">Praesent scelerisque</a></li>
				<li><a href="#">Ut nonummy rutrum sem</a></li>
				<li><a href="#">Pellentesque tempus quam</a></li>
			</ul>
		</div>
		<div class="boxedC">
			<h2>Veroeros Etiam </h2>
			<ul>
				<li><a href="#">Donec dictum metus in</a></li>
				<li><a href="#">Integer gravida nibh</a></li>
				<li><a href="#">Etiam posuere augue sit</a></li>
				<li><a href="#">Mauris vulputate dolor</a></li>
				<li><a href="#">Nulla luctus eleifend</a></li>
				<li><a href="#">Praesent scelerisque</a></li>
				<li><a href="#">Ut nonummy rutrum sem</a></li>
				<li><a href="#">Pellentesque tempus quam</a></li>
				<li><a href="#">Fusce ultrices fringilla</a></li>
				<li><a href="#">Praesent mattis condimentum</a></li>
			</ul>
		</div>
	</div>
