<h1>Editing group_picture</h1>

<% form_for(@group_picture) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @group_picture %> |
<%= link_to 'Back', group_pictures_path %>