	<div id="colB">
		<div class="boxedC">
			<h2>Materiales </h2>
			<ul>
				<li><%= link_to 'Material Teórico', teorico_reference_materials_path %></li>
				<li><%= link_to 'Material Práctico', practico_reference_materials_path %></li>
			</ul>
		</div>
    
  </div>
