%tr
  %td
    = reference_material.title
  %td
    = reference_material.description
  %td
    = reference_material.category.name
  %td
    = link_to 'Bajar', reference_material_path(reference_material)
