%h1
  Material de Referencia
%br
A continuación se listan los materiales disponibles para ser descargados:
%table
  = render :partial => 'shared/reference_material', :collection => @reference_materials
