%h1
  Material de Referencia
%table
  %thead
    %tr
      %th
        Título
      %th
        Descripción
      %th
        Adjunto
  %tbody
    = render :partial => 'reference_material', :collection => @reference_materials
