<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Sitename.com by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="menu">
	<ul>
		<li class="first"><a href="#" id="menu1" accesskey="1" title="">Inicio</a></li>
		<li><a href="#" id="menu2" accesskey="2" title="">Talleres</a></li>
    <li><%= link_to "Materiales", reference_materials_path, :id => "menu3", :accesskey => "3", :title => "" %></li>
		<li><a href="#" id="menu4" accesskey="4" title="">Acerca de</a></li>
		<li><a href="#" id="menu5" accesskey="5" title="">Contacto</a></li>
	</ul>
</div>
<div id="logo">
	<h1><a href="#">Enter</a></h1>
	<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
</div>
<div id="content">
  <%= yield  %>
</div>
<div id="footer">
	<p>Copyright &copy; 2007 Enter. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>
